<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base html {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
</head>
<body>

    <dev class="container">
        <header>
            <h2>Welcome</h2>

            <nav>
                <a href="{{ url_for('task.view_task') }}">Home</a>
                <a href="{{ url_for('auth.login') }}">Login</a>
                <a href="{{ url_for('auth.logout') }}">Logout</a>
            </nav>
        </header>
    </dev>

    <div class="container">
        {% with messages = get_flashed_messages( with_categories = True) %}
            {% if messages %}
                {% for category, mess in messages %}
                    <div class="flash {{ category }}">{{mess}}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}        
    </div>

    {% block content %}{% endblock %}
    
</body>
</html>